---
//Styles
	import "@styles/main.scss"

//Components
	import QRCode from '@components/QRCode.astro';
	import HeadGlobal from "@components/HeadGlobal.astro";

//Props
	const { title, description, heading, qrcode, marker, background } = Astro.props;

//Site Data
	const siteData = await import("src/data/siteData.json");
	
---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<HeadGlobal title={title} description={description}/>
		
	</head>
	<body>
		
		<main class="fullscreen-layout" style={background ? `background-image: url(${background}); background-size: cover; background-position: center;` : ""}>
			
			<section class="left-section">
				
				<div class="text-content">
					
					<h1>{heading ? heading : "3d Object Preview"}</h1>
					<div class="bodyText">
						<p>{description ? description : "Augmented Reality experience for viewing virtual 3D objects in the real world, similar to a hologram."}</p>
					</div>
					<div class="subheading cautionStripes">
						<!-- <div class="symbol">⚠ ⚠ ⚠ ⚠ ⚠</div> -->
						<p>Instructions:</p>
						<!-- <div class="symbol">⚠ ⚠ ⚠ ⚠ ⚠</div> -->
					</div>

					<div class="bodyText invert">
						<ol class="instructions">
							<li>Scan the QR code below with your phone to open the web viewer. The page will ask if it can access your camera - allow this.</li>
							<li>Once the viewer loads, point your camera at the marker image to the right.</li>
							<li>The 3D hologram will appear floating in front of the marker image.</li>
						</ol>
					</div>
					
					<div class="QRCodeWrapper">
						<QRCode link={qrcode} id="qrcode" />
						<a href={qrcode} target="_blank">{qrcode}</a>
					</div>

				</div>

				

			</section>
			
			<section class="right-section">
				<div class="image-container">
					<!-- Large image will be placed here -->
					<div class="cautionStripes">
						<p>Marker Image - Point your camera at this image to view the asset.</p>
					</div>

					<img src={marker ? marker : "/markers/complex-marker-v1.jpg"}/>						

					<div class="cautionStripes">
						<p>This images acts as a <strong>real-world anchor point</strong> for the virtual hologram.</p>
					</div>
				</div>
			</section>
			
		</main>
		
		<!-- <footer class="footerSection">
			<div>Interzone Technology Group</div>
		</footer> -->

	</body>
</html>

<style lang="scss">
/*===== Global =====*/
	html, body{
		//overflow: hidden;
		padding: 0;
		margin: 0;
	}

	main.fullscreen-layout {
		display: flex;
		//height: 100vh;
		//width: 100vw;
		margin: 0;
		padding: 0;
		//overflow: hidden;
		@media (max-width: 1200px) {
			flex-direction: column;
		}
	}

	.left-section,
	.right-section {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2rem;

		
	}

	.left-section {
		background-color: var(--primary-color);
		color: var(--text-color-light);
	}

	.right-section {
		background-color: var(--secondary-color);
	}

/*===== Inner Content =====*/
	.text-content {
		text-align: left;
		max-width: 100%;
		border: var(--border-settings-main);
		background-color: var(--background-color);
		h1 {
			font-size: 3rem;
			margin-bottom: 0;
			margin-top: 0;
			padding: 1.5rem 0.5rem;
			line-height: 1.2;
			text-align: center;
			text-wrap: balance;
			border-bottom: var(--border-settings-main);
		}

		.bodyText {
			font-size: 1rem;
			line-height: 1.6;
			padding: 1rem 0.5rem;
			padding-right: 1.5rem;
			border-bottom: var(--border-settings-main);
			//background-color: var(--accent-color);
			//color: var(--background-color);
			//padding: 1rem;
			//border-radius: 0.5rem;
			&.invert{
				background-color: var(--accent-color);
				color: var(--background-color);
			}
			p{
				margin-bottom: 0;
			}
		}
	}

	.QRCodeWrapper{
		margin: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		img{
			max-width: 300px;
			height: auto;
		}
		a{
			font-size: 0.8rem;
			margin-top: 1rem;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			background-color: var(--accent-color);
			color: var(--background-color);
			padding: 0.5rem 1rem;
			&::before{
				content: "[";
				font-size: 1.5em;
				text-decoration: none;
			}
			&::after{
				content: "]";
				font-size: 1.5em;
			}
		}
	}

	.image-container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		img{
			width: 80%;
			height: auto;
			margin: 1rem auto;
		}
		.stripesWrapper{
			width: 100%;
			background-image: linear-gradient(45deg, 
					#28282b 25%, 
					#faf9f6 25%, 
					#faf9f6 50%, 
					#28282b 50%, 
					#28282b 75%, 
					#faf9f6 75%, 
					#faf9f6 100%);
			background-size: 56.57px 56.57px;
			border: solid 5px var(--black);
			padding: 0.5rem;
			p{
				background-color: var(--accent-color);
				color: var(--background-color);
				padding: 0.5rem 1rem;
				width: 100%;
				text-align: center;
				text-wrap: balance;
				margin: 0;
			}
		}
	}

	.footerSection {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: var(--footer-bg-color);
		color: var(--footer-text-color);
		text-align: center;
		padding: 1rem;
		font-size: 0.9rem;
	}
</style>